.logo{
	height:100%;
	display: inline-block;
	margin-top:-1%;
}
.logo>img{
	vertical-align:middle;
	height:100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
}

.graph-interface{
margin-top:10vh;
}

.modal{
height:50%;
}