html, body {
    height: 100%;
}

/*LOGO*/
. logo {
    height: 100%;
    display: inline-block;
    margin-top: -1%;
}

.logo > img {
    vertical-align: middle;
    height: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: bold;
}

/*BODY BACKGROUND*/
body {
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
}

/*NAVBAR BACKGROUND*/
nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*HOMEPAGE*/
.homepage {
    margin-top: 10vh;
}

.file-path.validate {
    color: white !important;
}

/*GRAPH INTERFACE*/
.graph-interface {
    margin-top: 10vh;
}

/*radio button color*/
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #ffc107;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #ffc107;
}

/* Fieldset color*/
#modal1 fieldset {
    border-color: black;
    border-style: solid;
}

#uploadFieldset {
    border-color: white;
    border-style: groove;
}

/* Input color*/
.input-field .prefix.active {
    color: #ffc107;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important
}

.input-field input:focus + label {
    color: #ffc107 !important;
}

/*Autocomplete color*/
.dropdown-content li > a, .dropdown-content li > span {
    color: #ffc107;
    font-weight: bold;
}

/*Modal max height*/
.modal.bottom-sheet {
    max-height: 100% !important;
}

legend {
    font-size: 17px !important;
}

.card-panel {
    padding: 13vh;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.8;
    height: 33vh;
    cursor: pointer;
    border-radius: 10px;
}

.card-panel:hover {
    background: rgba(255, 255, 255, 0.6);
    opacity: 1;
}

.svg {
    display: none;
    height: 33vh;
    width: 100%;
    background: rgba(36, 38, 39, 0.8);
    border-radius: 10px;
}