.logo > img {
    vertical-align: middle;
    height: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: bold;
}

/*BODY BACKGROUND*/
body {
    background-image: url("../img/bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/*NAVBAR BACKGROUND*/
nav {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*HOMEPAGE*/
.homepage {
    margin-top: 10vh;
}


.file-path.validate {
    color: white !important;
}

/*radio button color*/
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #ffc107;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #ffc107;
}

#uploadFieldset {
    border-color: white;
    border-style: groove;
}

/* Input color*/
.input-field .prefix.active {
    color: #ffc107;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #ffc107 !important;
    box-shadow: 0 1px 0 0 #ffc107 !important
}

.input-field input:focus + label {
    color: #ffc107 !important;
}

.input-field > label {
    color: black;
}

.input-field .prefix {
    color: black;
}

/*Autocomplete color*/
.autocomplete-content li > a, .autocomplete-content li > span {
    color: #ffc107; !important;
    font-weight: bold !important;
}

.select-dropdown li > a, .select-dropdown li > span {
    color: black;
}

/*Modal max height*/
.modal.bottom-sheet {
    max-height: 100% !important;
}

legend {
    font-size: 17px !important;
}

.svg {
    height: 45vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: black;
}

.svg:hover {
    background: rgba(255, 255, 255, 1);
}

label {
    color: black;
}

.createGraph {
    background-color: whitesmoke;
    border-radius: 10px;
    position: fixed;
    height: 100%;
}

.createBtn > button {
    margin: inherit;
}
